<div class="container py-5">
  <ng-container *ngIf="customers |async as listCustomers; else failure">

    <div *ngIf="errorMessage" class="text-danger">
      <!-- pour afficher "un objet" ou format Json dans la parti HTML on utilise pipe | avec json -->
    </div>
    <div class="card shadow-lg border-0 rounded-4">
      
      <!-- En-tête bleu très clair -->
      <div class="card-header" style="background-color: #e9f5ff;">
        <h3 class="mb-0 text-primary">Customer List</h3>
      </div>
  
      <!-- Corps avec tableau -->
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover align-middle">
            <thead class="table-primary">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>E-mail</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let customer of customers | async">
                <td>{{ customer.id }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.email }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </ng-container>

  <ng-template #failure >
    <div class="text-danger">
      {{errorMessage}}
    </div>
  </ng-template>

  <ng-template #failureOrLoading>
    <ng-container *ngIf="errorMessage; else loading">
      <div class="text-danger">
        {{errorMessage}}
      </div>
    </ng-container>
    <ng-template #loading>
      Loading...
    </ng-template>
  </ng-template>
  
</div>
